
body {
    padding: 0%;
    margin: 0%;
    background-color: #fff;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    max-height: 20vh;
    background-repeat: no-repeat;
    text-shadow: -1px 0 #FFA500, 0 1px #FFA500, 1px 0 #FFA500, 0 -1px #FFA500; /*Help with Accessibility by High Contrastfrom Yvy, my Co-Student at Code Institute*/
    background-image: url(../images/elements/site_banner.webp);
    background-color: #2f4f4f;
}

header h1 {
    margin-top: 5%;
    margin-right: 10%;
    font-size: auto;
}

main {
    align-self: auto;
}


footer {
	background-color: #2f4f4f;
	padding: 1em;
    width: 100%;
    max-height: 2%;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer p {
    color: #c0c0c0;
    text-align: left;
    padding-left: 10%;
    font-size: auto;
}