body {
    padding: 0%;
    margin: 0%;
    background-color: #fff;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    max-height: 20vh;
    background-repeat: no-repeat;
    color: #000;
    text-shadow: -1px 0 #FFA500, 0 1px #FFA500, 1px 0 #FFA500, 0 -1px #FFA500; /*Help with Accessibility by High Contrastfrom Yvy, my Co-Student at Code Institute*/
    background-image: url(../images/elements/site_banner.webp);
    background-color: #2f4f4f;
}

header h1 {
    margin-top: 5%;
    margin-right: 10%;
    font-size: auto;
}

.container {
    background-color: #000;
    padding: 10%;
    height: 100vh;
    color: aliceblue;
}

.content-image {/*DEBUGGING*/
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 800px;
    padding-top: 2%;
}

.text-content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 3%;
}

span {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    width: 17%; /*TO BE REVIEWED*/
}

.button {
    border: none;
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0em;
}

.button:hover {
    font-size: 1.3em;
}

#button-start {
    background-color: #808080;
}

#button-yes {
    background-color: #04AA6D;
}

#button-no {
    background-color: #dc143c;
}

#button-startnew {
    background-color: #808080;
}


footer {
	background-color: #2f4f4f;
	padding: 1em;
    width: 100%;
    max-height: 2%;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer p {
    color: #c0c0c0;
    text-align: left;
    padding-left: 10%;
    font-size: auto;
}